<div class="row">
  <div class="col-md-12">
    <h3>Update Post</h3>
    <hr />

    <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label>Title</label>
        <input type="text" class="form-control" formControlName="title" />
        <div
          *ngIf="
            postForm.controls['title'].touched &&
            !postForm.controls['title'].valid
          "
        >
          <div *ngIf="postForm.controls['title'].errors?.['required']">
            Title is required
          </div>
          <div *ngIf="postForm.controls['title'].errors?.['minlength']">
            Title should be minimum 6 characters
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label>Description</label>
        <textarea class="form-control" formControlName="description"></textarea>
        <div
          *ngIf="
            postForm.controls['description'].touched &&
            !postForm.controls['description'].valid
          "
          class="alert alert-danger"
        >
          >{{ showDescriptionErrors() }}
        </div>
      </div>

      <div class="my-3">
        <button type="submit" class="btn btn-primary">Update Post</button>
      </div>
    </form>
  </div>
</div>
